---
layout: tasks/compress
---

{%- include rest/defaults.liquid -%}
{%- include common/rest/defaults.liquid -%}

<!DOCTYPE html>
<html lang="en" dir="{{ direction }}">
    {% include sections/head.liquid %}
    <head>
        {%- include common/metadata.liquid -%}
        {%- include common/links.liquid -%}
        {% comment %} {%- include rest/styles.liquid -%} {% endcomment %}
        {%- include common/script.liquid -%}
    </head>
    <body>
        {% include sections/header.liquid %}
        {% comment %} {% include templates/content.liquid %} {% endcomment %}
        {{ content }}
        {% include common/mermaid.liquid %}
        {%- include rest/script.liquid -%}

        {% include sections/footer.liquid %}
    </body>
</html>